footer {
    background-color: #ffb0b0
    color= black;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40;
    background-color: #ffb0b0
}

header {
    background-color: #ffb0b0
    padding= 16px;
}

header {
    display: block;
}

header ul {
    float: right;
    color: black;
}

header li {
    display: inline-block;
    padding: 0px 5px;
}